<section
  class="wellness-reminder"
  [class.wellness-reminder--wellness]="wellnessMode"
  [attr.aria-label]="'wellness.reminder.aria' | translate">
  <div class="wellness-reminder__content">
    <span class="wellness-reminder__label">{{ 'wellness.reminder.label' | translate }}</span>
    <strong>{{ 'wellness.reminders.' + reminder.type + '.title' | translate }}</strong>
    <p>{{ 'wellness.reminders.' + reminder.type + '.message' | translate }}</p>
    <div class="wellness-reminder__suggestion">
      <span>{{ 'wellness.suggestions.' + reminder.suggestion.id + '.label' | translate }}</span>
      <small>{{ 'wellness.suggestions.' + reminder.suggestion.id + '.duration' | translate }}</small>
    </div>
  </div>
  <div class="wellness-reminder__actions">
    <button type="button" (click)="completeReminder.emit(reminder)">
      {{ 'wellness.reminders.' + reminder.type + '.action' | translate }}
    </button>
    <button type="button" (click)="nextSuggestion.emit(reminder)">
      {{ 'common.next' | translate }}
    </button>
    <button type="button" class="wellness-reminder__dismiss" (click)="dismissReminder.emit(reminder)">
      {{ 'common.skip' | translate }}
    </button>
  </div>
</section>
